.slide-hover {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 1;
  text-transform: uppercase;
  
}

/* Sliding background */
.slide-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background:#15803D
; /* Change color */
  transition: left 0.6s ease-in-out;
  z-index: -1;
  padding: 1px;
  text-transform: uppercase;
}

/* Hover effect */
.slide-hover:hover::before {
  left: 0;
}

.slide-hover:hover {
  color: white;
}
